<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @if (Session["ASessionId"] != null)
            {
                @Html.ActionLink("AppArcade", "Index", "admin_info", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("AppArcade", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["SessionId"] != null)
                    {
                        @*<li>@Html.ActionLink("Registration", "Create", "user_info", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("APP", "Index", "Product_info", new { area = "" }, new { @class = "nav-link" })</li>
                        @*<li>@Html.ActionLink("Admin-Login", "Login", "admin_info", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else if (Session["ASessionId"] != null)
                    {
                        <li>@Html.ActionLink("Admin-Panel", "Index", "user_info", new { area = "" }, new { @class = "nav-link" })</li>
                        @*<li>@Html.ActionLink("Registration", "Create", "user_info", new { area = "" }, new { @class = "nav-link" })</li>*@
                        @*<li>@Html.ActionLink("Login", "Login", "user_info", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("APP", "Index", "Product_info", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                    else if (Session["SessionId"] == null && Session["ASessionId"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "user_info", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Registration", "Create", "user_info", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Admin-Login", "Login", "admin_info", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                    @*else
        {
            <li>@Html.ActionLink("Login", "Login", "user_info", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Registration", "Create", "user_info", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Admin-Login", "Login", "admin_info", new { area = "" }, new { @class = "nav-link" })</li>

        }*@

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr style="scroll-margin-bottom:5px"/>
        <footer >
            <p>&copy; @DateTime.Now.Year - Welcome to AppArcade</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
